@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
	margin: 0px;
	border: 0px;
	border-spacing: 0px;
}

h1, h2, p, th, button {
	font-family: "Roboto";
	color: #3F3F3F;
}

button {
	padding: 10px;
	background-color: #DCDCDC;
}

.selected {
	background-color: rgb(61, 61, 158);
	color: white;
}

div {
	background-color: rgb(187, 187, 187);
	padding: 80px;
	min-height: 100vh;
}

table {
	width: 100%;
	text-align: left;
}

th {
	background-color: rgb(61, 61, 158);
	color: white;
	padding: 15px;

}

.flex {
	display: flex;
}

.horizontal {
	flex-direction: column;
}

.vertical {
	flex-direction: row;
}