@import url("main.css");

.sakura {
	background-color: #ffc4e5;
	color: black;
}

.sakura-secondary {
	background-color: #e567ad;
	color: white;
}

.sakura-active, .sakura-secondary:active {
	background-color: #af4480;
	color: white;
}
