@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
	margin: 0px;
	border: 0px;
}

h1, h2, p, th, button {
	font-family: "Roboto";
	color: #3F3F3F;
}

button {
	padding: 10px;
	background-color: #DCDCDC;
}

.selected {
	background-color: #2B2BCD;
	color: white;
}

div {
	padding: 80px;
	width: 100%;
}

th {
	background-color: #2B2BCD;
	color: white;
}
