<!DOCTYPE html>
<html>

<head>
	<title>Profile</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'theme_demo/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'theme_demo/astro.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'theme_demo/sakura.css' %}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
	<script src="{% static 'theme_demo/script.js' %}"></script>
	<script src="{% static 'jqui_1.12.1/jquery-ui.js' %}"></script>
</head>

<body>
	<div class="flex horizontal header" id="header">
		<div class="flex vertical" id="theme-changer">
			<h3>Themes</h3>
			<div class="flex vertical">
				<button id="default">Default</button>
				<button id="astro">Astro</button>
				<button id="sakura">Sakura</button>
			</div>
		</div>
	</div>
	
	<div class="flex vertical main">
	
		<div class="empty-space"></div>		
		<div class="flex horizontal container">
			<section class="flex vertical" id="profile">
			
			</section>
			<section class="flex vertical" id="profile-desc">
				<h3>{{ s1_title }}</h3>
				<div>
					<p>{{ s1_desc }}</p>
				</div>
				<h3>{{ s2_title }}</h3>
				<div>
					<p>{{ s2_desc }}</p>
				</div>
				<h3>{{ s3_title }}</h3>
				<div>
					<p>{{ s3_desc }}</p>
				</div>
			</section>
			
			<section class="flex vertical" id="sub-field">
				<form method="post" id="form">
					{% csrf_token %}
					{{ form }}
					<input type="submit" id="subscribe" value="Subscribe">
				</form>
			</section>
		</div>
	</div>
</body>

</html>
