* {
	margin: 0px;
	box-sizing: border-box;
	background-color: #9999FF;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 120px;
	color: white;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: white;
}

h3 {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: white;
}

p, pre {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: white;
}

label {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: white;
}

.centered {
	text-align: center;
}

.flex-horizontal {
	display: flex;
	flex-direction: row;
}

.flex-vertical {
	display: flex;
	flex-direction: column;
}

div.mid-board {
	width: 70%;
	min-height: 300px;
	padding: 40px;
	background-color: rgba(255, 255, 255, 0.6);
	margin: auto;
}

section {
	background-color: white;
	padding: 30px;
	align-content: stretch;
}

aside {
	background-color: #4B4B4B;
	padding: 10px;
	min-width: 25%;
	align-content: stretch;
}

input, select {
	display: flex;
	background-color: white;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	color: #47525E;
	height: 60px;
	border: none;
}

select {
	width: 20%;
}

input[type=text] {
	padding: 10px;
	width: 100%;
}

input[type=submit] {
	height: 40px;
	width: 140px;
	background-color: #47525E;
	color: white;
	border: none;
}
