@import url("https://fonts.googleapis.com/css?family=Roboto");
/*@import url("../jqui_1.12.1/jquery-ui.css");*/

/* global settings */
* {
	margin: 0px;
	border: none;
}

/* global tag settings */
h1, h2, h3, h4, p, button {
	font-family: "Roboto";
	color: black;
}

div {
	background-color: white;
	height: 100%;
	overflow: visible;
}

section {
	height: 100%;
	margin: 20px;
	flex-grow: 1;
}

button {
	width: 100%;
	text-align: left;
	background-color: white;
}


/* jQuery UI default accordion settings */
.ui-accordion, .ui-accordion-header, .ui-accordion-content {
	border: none;
	border-radius: 0%;
	padding: 0em 0em;
	overflow: visible;
}

/* Flexbox default properties */
.flex {
	display: flex;
}

.horizontal {
	flex-direction: row;
}

.vertical {
	flex-direction: column;
}

/* CSS classes here */
.header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	overflow: visible;
}

.theme-changer {
	width: 20%;
	align-self: flex-end;
}

.theme-changer-content {
	width: 100%;
	align-self: center;
}

.main {
	height: 100vh;
}

.empty-space {
	height: 60px;
}

.container {
	padding: 20px;
}

