@import url("main.css");

.astro {
	background-color: #4a4666;
	color: white;
}

.astro-secondary {
	background-color: #272344;
	color: white;
}

.astro-active, .astro-secondary:active {
	background-color: #af4480;
	color: white;
}
