<!DOCTYPE html>
<html>
<head>
	<title>Book List</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'booklist/style.css' %}">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'booklist/script.js' %}"></script>
</head>

<body>
	<div>
		<h1>Book List</h1>
		<h2 id="fav-text">Favorites &#9733; : 0</h2>
		<table>
			<tr>
				<th>Cover</th>
				<th>Title</th>
				<th>Author</th>
				<th>Publisher</th>
				<th>Release Date</th>
				<th>Favorites</th>
			</tr>
		</table>
	</div>
</body>
</html>
