<!DOCTYPE html>
<html>
<head>
    <title>Status: How Are You Today?</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'status/default.css' %}">
</head>

<body>
	<header>
		<h3 class="centered">Status</h3>
	</header>
	
    <div class="flex-vertical">
    	<h1 class="centered">Hello, How Are You Today?</h1>
        <form method="post">
            {% csrf_token %}
            {{ status_form }}
            <input name="submit-button" type="submit" value="Submit">
        </form>
    </div>
    <div id="status-display">
    	{{ status_display }}
    </div>
</body>
